@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: white;
}

.container {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
}

.error_text_container {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
}

.error_text {
    margin-top: 5em;
    padding: 2em;
    border-radius: 1em;
    background: #ebe4e4;
    color: #292424;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 12px -4px grey;
}

.error_title {
    margin-top: 0;
    text-align: left;
    font-size: 2em;
}
.error_description {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2em;
}

.photo_container {
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
}
.photo_container img {
    width: 80%;
    height: auto;
    margin-top: 2em;
}
