.login_form {
    background: white;
    display: flex;
    font-size: 20px;
    width: 35%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    box-shadow: 0 10px 12px -4px grey;
    border-radius: 1em;
    animation: appear 1s ease forwards;
}
@keyframes appear {
    from {
        transform: translate(0, -10%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.login_form label {
    color: #36333a;
    font-size: 15px;
    margin-top: 0.5em;
}
.login_form_title {
    width: calc(100% - 2em);
    text-align: center;
    color: #36333a;
}
.input {
    width: calc(100%);
    font-size: 15px;
    background: rgb(210, 210, 210);
    border: none;
    border-bottom: 3px solid rgb(210, 210, 210);
    border-radius: 0.3em;
    padding: 12px 20px;
}
.input:focus {
    border-bottom: 3px solid black;
}

.input_error {
    font-size: 18px;
    background: #eb624d;
    border: none;
    border-bottom: 3px solid #eb624d;
    border-radius: 5px;
    padding: 12px 20px;
}
.input_error:focus {
    border-bottom: 3px solid red;
}

.button {
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 0.3em;
    font-size: 15px;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: calc(100%);
    transition: 0.2s;
}
.button:hover {
    background: rgb(50, 50, 50);
    cursor: pointer;
}
.button:active {
    background: rgb(20, 20, 20);
}
.button:disabled {
    background: rgb(50, 50, 50);
    color: black;
}
.redirect {
    background: transparent;
    border: none;
    color: black;
    margin-top: 1em;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.error_message {
    color: red;
    font-size: 15px;
}
.info_message {
    color: cornflowerblue;
    font-size: 15px;
}