.header {
    height: 3em;
    width: 100%;
    box-shadow: 0 4px 10px -6px grey;
    z-index: 3;
    background: #544e4b;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    animation: header 1.5s ease forwards;
}
@keyframes header {
    from {
        transform: translate(0, -100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.main_icon {
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 70%;
}

.header_button {
    /*background: #f6f6f6;*/
    background: transparent;
    color: #e9f0ee;
    border-bottom: 2px solid #e9f0ee;
    font-size: 15px;
    margin: 0.25em;
    padding: 0.25em;
    transition: all 0.2s;
}
.header_button:hover {
    background: #e9f0ee;
    border-bottom: 2px solid #e9f0ee;
    cursor: pointer;
    border-radius: 0.2em;
    color: #5c4e49
}
.block {
    display: inline-flex;
    height: 100%;
    align-items: center;
    color: #f6f6f6;
}
.log_out {
    margin: 0.25em;
    padding: 0.25em;
    transition: 0.2s;
}
.log_out:hover {
    background: #68666a;
    border-radius: 0.5em;
}
.log_out_img {
    height: 50%;
    width: auto;
}
.header span {
    margin: 0.5em;
}